{% extends 'distributorbase.html' %}
{% load static %}
{% block content %}
<style>
  body{
    background-color:#20201f;
  }
</style>
<style>
    @media (max-width:768px) {
        .h3{
            font-size: 20px;
        }
        .h4{
            font-size: 15px;
        }
    }
</style>


    <div class="body-wrapper ">
        <div class="container-fluid">
            <div class="container mt-5 mr-5 " style="background-color: black;">
                <h1 class="text-center h1 mb-5 pt-5 text-light"
                    ><b>CLIENT
                        DETAILS</b></h1>
                <hr>

                <center>
                    {% if company.profile_pic %}
                    <img class="img-thumbnail" width="30%" src="{{ company.profile_pic.url }}" alt="">
                    {% else %}
                    <img src="{% static 'registration_login/images/default.png' %}" width="20%" wi class="img-thumbnail">
                    {% endif %}
                </center>
                <h3 class="h3 text-center py-3 text-light"><b>{{company.company_name}}</b></h3>

                <hr>
                <div class="row p-5 pb-3">
                    <div class="col-md-6">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b>Company Owner </h5>
                    </div>
                    <div class="col-md-6">
                        <h5 class="h5 text-light">: {{company.login_details.first_name}} {{company.login_details.last_name}}</b></h5>
                    </div>
                </div>
                <div class="row p-5 pb-3 pt-3">
                    <div class="col-md-6">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b>Company Code </h5>
                    </div>
                    <div class="col-md-6">
                        <h5 class="h5 text-light">: {{company.company_code}}</b></h5>
                    </div>
                </div>

                <div class="row p-5 pt-3 pb-3">
                    <div class="col">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b> Email </h5>
                    </div>
                    <div class="col">
                        <h5 class="h5 text-light">: {{company.login_details.email}}</b></h5>
                    </div>
                </div>

                <div class="row p-5 pt-3 pb-3">
                    <div class="col">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b> Contact </h5>
                    </div>
                    <div class="col">
                        <h5 class="h5 text-light"> : {{company.contact}}</b></h5>
                    </div>
                </div>
                <div class="row p-5 pt-3 pb-3">
                    <div class="col">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b> Address </h5>
                    </div>
                    <div class="col">
                        <h5 class="h5 text-light"> : {{company.address}}</b></h5>
                    </div>
                </div>
                <div class="row p-5 pt-3 pb-3">
                    <div class="col">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b> City</h5>
                    </div>
                    <div class="col">
                        <h5 class="h5 text-light"> : {{company.city}}</b></h5>
                    </div>
                </div>
                <div class="row p-5 pt-3 pb-3">
                    <div class="col">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b> State </h5>
                    </div>
                    <div class="col">
                        <h5 class="h5 text-light"> : {{company.state}}</b></h5>
                    </div>
                </div>
                <div class="row p-5 pt-3 pb-3">
                    <div class="col">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b>Country</h5>
                    </div>
                    <div class="col">
                        <h5 class="h5 text-light">  : {{company.country}}</b></h5>
                    </div>
                </div>
                <div class="row p-5 pt-3 pb-3">
                    <div class="col">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b> Pincode</h5>
                    </div>
                    <div class="col">
                        <h5 class="h5 text-light"> : {{company.pincode}}</b></h5>
                    </div>
                </div>
                <div class="row p-5 pt-3 pb-3">
                    <div class="col">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b> Pan Number</h5>
                    </div>
                    <div class="col">
                        <h5 class="h5 text-light">  : {{company.pan_number}}</b></h5>
                    </div>
                </div>
                <div class="row p-5 pt-3 pb-3">
                    <div class="col">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b> GST type </h5>
                    </div>
                    <div class="col">
                        <h5 class="h5 text-light"> : {{company.gst_type}}</b></h5>
                    </div>
                </div>
                {% if company.gst_no != '' %}
                <div class="row p-5 pt-3 pb-3">
                    <div class="col">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b> GST Number</h5>
                    </div>
                    <div class="col">
                        <h5 class="h5 text-light"> : {{company.gst_no}}</b></h5>
                    </div>
                </div>
                {% endif %}
                <div class="row p-5 pt-3 pb-3">
                    <div class="col">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b> Payment Terms </h5>
                    </div>
                    <div class="col">
                        <h5 class="h5 text-light"> : {{company.payment_term.payment_terms_number}}
                                {{company.payment_term.payment_terms_value}}</b></h5>
                    </div>
                </div>
                <div class="row p-5 pt-3 pb-3">
                    <div class="col">
                        <h5 class="h5 text-light" style="margin-right: 10px;"> </b> End Date</h5>
                    </div>
                    <div class="col">
                        <h5 class="h5 text-light">  : {{company.End_date}}</b></h5>
                    </div>
                </div>
                <hr>
                <h3 class="h3 p-5 pb-3 pt-3 text-light"><b>Modules</b></h3>
                <div class="row p-3" style="margin-left: 20px;">
                    <div class="col">
                        <h5 class="text-light">Items</h5>
                        {% if allmodules.items == 1 %}
                        <b> </b>Items <br>
                        {% endif %}

                        {% if allmodules.price_list == 1 %}
                        <b> </b>Price List <br>
                        {% endif %}

                        {% if allmodules.stock_adjustment == 1 %}
                        <b> </b>Stock Adjustment <br>
                        {% endif %}

                        {% if allmodules.godown == 1 %}
                        <b> </b>Godown <br>
                        {% endif %}
                    </div>
                    <div class="col">
                        <h5 class="text-light">Cash & Bank</h5>

                        {% if allmodules.cash_in_hand == 1 %}
                        <b> </b>Cash In Hand <br>
                        {% endif %}

                        {% if allmodules.offline_banking == 1 %}
                        <b> </b> Offline Banking <br>
                        {% endif %}

                        {% if allmodules.upi == 1 %}
                        <b> </b> UPI <br>
                        {% endif %}

                        {% if allmodules.bank_holders == 1 %}
                        <b> </b> Bank Holders <br>
                        {% endif %}

                        {% if allmodules.cheques == 1 %}
                        <b> </b> Cheques <br>
                        {% endif %}

                        <!-- {% if allmodules.reconciliation == 1 %}
                        <b> </b> Reconciliation <br>
                        {% endif %} -->

                        {% if allmodules.Loan_account == 1 %}
                        <b> </b> Loan Accounts <br>
                        {% endif %}


                    </div>
                    
                </div>
                <div class="row p-3" style="margin-left: 20px;">
                    <div class="col">
                        <h5 class="text-light">Sales</h5>

                        {% if allmodules.invoice == 1 %}
                        <b> </b> Invoice <br>
                        {% endif %}

                        {% if allmodules.recurring_invoice == 1 %}
                        <b> </b> Recurring Invoice <br>
                        {% endif %}

                        {% if allmodules.retainer_invoice == 1 %}
                        <b> </b> Retainer Invoice <br>
                        {% endif %}


                        {% if allmodules.Estimate == 1 %}
                        <b> </b> Estimate/ Quotation <br>
                        {% endif %}

                        {% if allmodules.Payment_in == 1 %}
                        <b> </b> Payment In <br>
                        {% endif %}

                        {% if allmodules.sales_order == 1 %}
                        <b> </b> Sale Order <br>
                        {% endif %}

                        {% if allmodules.Delivery_challan == 1 %}
                        <b> </b> Delivery Challan <br>
                        {% endif %}

                        {% if allmodules.credit_note == 1 %}
                        <b> </b> Credit Note <br>
                        {% endif %}

                        {% if allmodules.payment_received == 1 %}
                        <b> </b> Payment Received <br>
                        {% endif %}

                    </div>
                    <div class="col">
                        <h5 class="text-light">Purchase</h5>
                        {% if allmodules.bills == 1 %}
                        <b> </b>Bills <br>
                        {% endif %}

                        {% if allmodules.recurring_bills == 1 %}
                        <b> </b> Recurring Bills<br>
                        {% endif %}

                        {% if allmodules.vendor_credit == 1 %}
                        <b> </b> Vendor Credit<br>
                        {% endif %}

                        {% if allmodules.Purchase_order == 1 %}
                        <b> </b>Purchase Order <br>
                        {% endif %}

                        {% if allmodules.recurring_expenses == 1 %}
                        <b> </b>Recurring Expenses <br>
                        {% endif %}

                        {% if allmodules.expenses == 1 %}
                        <b> </b>Expenses <br>
                        {% endif %}

                        {% if allmodules.payment_made == 1 %}
                        <b> </b>Payment Made <br>
                        {% endif %}

                    </div>
                </div>

                <div class="row p-3" style="margin-left: 20px;">
                    <div class="col">
                        <h5 class="text-light">Pay Roll</h5>
                        {% if allmodules.employees == 1 %}
                        <b> </b>Employees <br>
                        {% endif %}

                        {% if allmodules.holiday == 1 %}
                        <b> </b>Holiday <br>
                        {% endif %}

                        {% if allmodules.attendance == 1 %}
                        <b> </b>Attendance <br>
                        {% endif %}

                        {% if allmodules.salary_details == 1 %}
                        <b> </b>Salary Details <br>
                        {% endif %}
                       
                    </div>
                    <div class="col">
                        <h5 class="text-light">Accounts</h5>

                        {% if allmodules.chart_of_accounts == 1 %}
                        <b> </b>Chart of Accounts <br>
                        {% endif %}

                        {% if allmodules.manual_journal == 1 %}
                        <b> </b>Manual Journal <br>
                        {% endif %}

                       


                    </div>
                    
                </div>

                <div class="row p-3" style="margin-left: 20px;">
                    <div class="col">
                        <h5 class="text-light">Time Tracking</h5>
                        {% if allmodules.projects == 1 %}
                        <b> </b>Projects <br>
                        {% endif %}
                       
                    </div>
                    <div class="col">
                        <h5 class="text-light">E-Way Bill</h5>

                        {% if allmodules.eway_bill == 1 %}
                        <b> </b>E-Way Bill <br>
                        {% endif %}


                    </div>
                    
                </div>

                <div class="row p-3" style="margin-left: 20px;">
                    <div class="col">
                        <h5 class="text-light">Reports</h5>
                        {% if allmodules.reports == 1 %}
                        <b> </b>Reports <br>
                        {% endif %}

                    </div>
                    <div class="col">
                    </div>
                    
                </div>

              
                <div class="row pb-5">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <a href="{% url 'dist_client_reject' company.id %}" class="btn text-light btn-warning"  style="width: 100%;">Cancel</a>
                    </div>
                    <div class="col-md-4"></div>
                </div>



            </div>



        </div>
    </div>
{% endblock %}