{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<style>
  body{
    background-color:#20201f;
  }
</style>

<style>
  table tr:hover {
    background-color: rgb(55, 54, 54);
    cursor: pointer;
}
</style>
  


<div class="body-wrapper">
  <div class="container-fluid">

    

     <!-- <h3 class="text-center"><b style=" margin-bottom: 20px;">COMPANY REQUESTS</b></h3> -->
    
      <div style="overflow-x:auto;">  
        {% if clients %}  

        <table class="table   mt-5 " style="background-color: black;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <thead>
              <tr>
                <th scope="col" style="color: white;"><b>ID</b></th>
                <th scope="col" style="color: white;"><b>Name</b></th>
                <th scope="col" style="color: white;"><b>Email</b></th>
                
                <th scope="col" style="color: white;"><b>Contact</b></th>
                <th scope="col" style="color: white;"><b>Payment Terms</b></th>
                <th scope="col" style="color: white;"><b>End Date</b></th>
                <th scope="col" style="color: white;"><b>Action</b></th>

              </tr>
            </thead>
            <tbody>
                {% for a in clients %}
              <tr>
                <td>{{a.id}}</th>
                <td> 
                  {% if a.profile_pic %}
                  <img width="35" height="35" class="rounded-circle" src="{{ a.profile_pic.url }}" alt="">
                  {% else %}
                  <img src="{% static 'registration_login/images/default.png' %}" alt="" width="35" height="35" class="rounded-circle">
                  {% endif %}
                  <a href="{% url 'client_details' a.id %}" class="text-light">{{a.login_details.first_name}} </a>
                </td>
                <td>{{a.login_details.email}}</td>
                <td>{{a.contact}}</td>
                <td>{{a.payment_term.payment_terms_number}} {{a.payment_term.payment_terms_value}}</td>
                <td>{{a.End_date}}</td>
                <td>
                <a href="{% url 'admin_client_reject' a.id %}" class="btn btn-warning btn-sm m-1 text-light" >Cancel</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table> 
        </div>
        {% else %}
        <div class="d-flex justify-content-center">
          <img src="{% static 'assets\images\no-data-file.png' %}">
        </div>
        {% endif %}

  </div>
</div>
</body>

{% endblock %}